In [15]:
import pandas as pd

data = pd.read_csv('CarItemBuyList_202003.txt')

In [17]:
data['202109'] = 202109
del data['202003']

In [18]:
data

       M0014  Item-018  2  202109
0      G0035  Item-015  3  202109
1      I0090  Item-009  3  202109
2      K0095  Item-018  5  202109
3      Y0042  Item-020  2  202109
4      W0023  Item-030  2  202109
...      ...       ... ..     ...
99994  I0027  Item-009  2  202109
99995  M0057  Item-016  5  202109
99996  N0022  Item-015  2  202109
99997  H0057  Item-019  3  202109
99998  X0036  Item-008  1  202109

[99999 rows x 4 columns]

In [9]:
data.to_csv('CarItemBuyList_202109.txt')